$primary_1: rgb(154, 105, 199);

$primary_3: rgb(43, 226, 134);
$primary_4: rgb(169, 204, 209);
$primary_5: rgb(235, 13, 57);
$primary_6: rgb(214, 214, 214);
$primary_7: rgb(19, 18, 18);
div {
//  background-image: linear-gradient(rgb(183, 170, 170), rgb(179, 179, 143));
  background-color: #002757;
  min-height: 100vh;
}

