.child-b{
    background-color: rgb(147, 10, 131);
    padding: 10px;
     font-size: xx-large;
     color: rgb(125, 231, 19);
       height: 15em;
    width: 30vw;
    border-radius: 12px;
    border: solid #000000 4px;
    
}